@import "tailwindcss";

body {
    background: black;
    color: white;
    font-family: sans-serif;
}

@media print {
    body {
        display: none !important;
    }
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
}